@model GApp.Models.Pages.Components.Filter_GAppComponent
<div class="row">

    <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
        <select id="GroupId" name="GroupId" class="form-control">
            <option id="0">Tous les groupes</option>
            <option id="1">TDI101</option>
        </select>

    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
        <input type="text" class="form-control has-feedback-left datetimepicker" id="inputSuccess2" placeholder="Date d'absence">
        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
    </div>



    <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Recherche">
        <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
    </div>
</div>