@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

<input type="file" id="UploadImg" />  <br /><br />

New File Name:

<input type="text" id="txtImg" size="50" /> <br /><br />

<img id="imgPreview" height="100" width="100" />

<button onclick="myFunction()" type="submit" class="btn btn-primary start">
    <i class="glyphicon glyphicon-upload"></i>
    <span>Start upload</span>
</button>

 