/*  Select 2 */
.select2-selection {
    border-radius: 0;
}

.present_icon {
    background-image: url(images/Present.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.absent_icon {
    background-image: url(images/Absent.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.form-group .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}