<#@ template language="C#" debug="true"   hostspecific="true"#>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true" #>  
<#@ output extension=".cs"#> 
<#@ include file="..\Lib\Imports.include.t4" #>
<#@ include file="..\Lib\lib.ttinclude" #> 
<#   
	// Create file for All Entities
	var manager = TemplateFileManager.Create(this);  
	List<Type> Entities = EntitiesControllerTests_Service<TrainingISModel>.GetEntitiesTypes();
	foreach(Type entityType in Entities)
    {    
		EntitiesControllerTests_Service<TrainingISModel> Generator = new EntitiesControllerTests_Service<TrainingISModel>(entityType,new TrainingIS.Models.GAppDevContext()); 
		var Code = Generator.Code;
		manager.StartNewFile(Code.FileName);
		

#>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using TrainingIS.Entities;
using AutoFixture;
using TrainingIS.BLL;
using TrainingIS.DAL;
using System.ComponentModel.DataAnnotations;
using GApp.WebApp.Manager.Views;
using GApp.DAL;
using GApp.Entities;
using GApp.Core.Context;
<# foreach (var name_space in Code.Expcected_NameSpaces) { #>
using <#= name_space #>;
<#}#>
using TrainingIS.BLL.ModelsViews;
using GApp.UnitTest.TestData;
using GApp.UnitTest.TestData.Enums;
using System.IO;
using System.Data;
using GApp.DAL.ReadExcel;
using ClosedXML.Excel;
using GApp.Exceptions;
namespace TestData
{
    public class Base<#=Code.ClassName#> : EntityTestData<<#=entityType.Name#>>
    {
		public string Entity_CRUD_Test_Reference { set; get; } 
		protected override void Constructor(UnitOfWork<TrainingISModel> UnitOfWork, GAppContext GAppContext)
        {
            base.Constructor(UnitOfWork, GAppContext);
            BLO = new <#=entityType.Name#>BLO(UnitOfWork, GAppContext);
			Entity_CRUD_Test_Reference  = "<#=entityType.Name#>_CRUD_Test";
        }

        public Base<#=Code.ClassName#>(UnitOfWork<TrainingISModel> UnitOfWork, GAppContext GAppContext) 
            : base(UnitOfWork, GAppContext)
        {
        }

 
		protected override List<<#=entityType.Name#>> Load_Data_From_ExcelFile()
        {
            List<<#=entityType.Name#>> Data = null;

            // Create Paths 
            this.Create_TestData_Files_Directory_If_Not_Exist();
            string FileName = this.Get_Solution_Path() + "Data/<#=entityType.Name#>.xlsx";

            if (File.Exists(FileName))
            {
                Data = new List<<#=entityType.Name#>>();

                // Load Data from Excel file
                var excelData = new ExcelData(FileName);
                DataTable firstTable = excelData.getFirstTable();
                Data = (this.BLO as <#=entityType.Name#>BLO).Convert_DataTable_to_List(firstTable);
            }
            return Data;
        }

        protected override List<<#=entityType.Name#>> Insert_Or_Update_ExcelFile_TestData(out bool is_Insert_Or_Update)
        {
            is_Insert_Or_Update = false;
            List<<#=entityType.Name#>> Data = new List<<#=entityType.Name#>>();

            // Create Paths
            this.Create_TestData_Files_Directory_If_Not_Exist();
            string FileName = this.Get_Solution_Path() + "Data/<#=entityType.Name#>.xlsx";
            string Repport_File = this.Get_Solution_Path() + "Data/Repports/<#=entityType.Name#>.xlsx";

            if (File.Exists(FileName))
            {
                // Load Data from Excel file
                var excelData = new ExcelData(FileName);
                DataTable firstTable = excelData.getFirstTable();
                // Import Data not imported

				// Delete Repport_File if exist
                if (!File.Exists(Repport_File))
                {
					ImportReport importReport = (this.BLO as <#=entityType.Name#>BLO).Import(firstTable, FileName);
					// Save ExcelRepport file to Server
					DataSet DataSet_report = importReport.get_DataSet_Report();
					using (XLWorkbook wb = new XLWorkbook())
					{
						wb.Worksheets.Add(DataSet_report);
						wb.SaveAs(Repport_File);
					}

						// Throw Exceltion if there is error in Import
					if( importReport.Number_of_inserted_erros_rows > 0 || importReport.Number_of_updated_erros_rows > 0)
					{
						string msg_ex = string.Format(" {0} : There are {1} error of Inserts and {2} of Update",
								"<#=entityType.Name#>",
							importReport.Number_of_inserted_erros_rows, 
							importReport.Number_of_updated_erros_rows
                           
							);
						throw new GAppException(msg_ex);
					}

					// Convert Data Table to Data
					Data = importReport.ImportedObjects.Cast<<#=entityType.Name#>>().ToList();
					is_Insert_Or_Update = true;
                }

				

            }
            return Data;
        }


		/// <summary>
        /// Find the first <#=entityType.Name#> instance or create if table is emtpy
        /// </summary>
        /// <returns></returns>
        public virtual <#=entityType.Name#> CreateOrLouadFirst<#=entityType.Name#>()
        {
            <#=entityType.Name#>BLO <#=entityType.Name.ToLower()#>BLO = new <#=entityType.Name#>BLO(UnitOfWork,GAppContext);
           
			<#=entityType.Name#> entity = null;
            if (<#=entityType.Name.ToLower()#>BLO.FindAll()?.Count > 0)
                entity = <#=entityType.Name.ToLower()#>BLO.FindAll()?.First();
		   
            if (entity == null)
            {
                // Create Temp <#=entityType.Name#> for Test
                entity = this.CreateValide<#=entityType.Name#>Instance();
                <#=entityType.Name.ToLower()#>BLO.Save(entity);
            }
            return entity;
        }

		public virtual <#=entityType.Name#> Create_CRUD_<#=entityType.Name#>_Test_Instance()
        {
			<#=entityType.Name#> <#=entityType.Name#> = this.CreateValide<#=entityType.Name#>Instance();
            <#=entityType.Name#>.Reference = this.Entity_CRUD_Test_Reference;
            return <#=entityType.Name#>;
        }

        public virtual <#=entityType.Name#> CreateValide<#=entityType.Name#>Instance()
        {
            if(UnitOfWork == null) UnitOfWork = new UnitOfWork<TrainingISModel>();
        
            <#=entityType.Name#>  Valide_<#=entityType.Name#> = this._Fixture.Create<<#=entityType.Name#>>();
            Valide_<#=entityType.Name#>.Id = 0;
            // Many to One 
            //   
<# 
	foreach (var PropertyInfo_ForeignKey in Generator.Properties.Get_ForeignKiesNames_PropertyInfo_Dictionary(Generator.EntityFramework.ForeignKeiesNames)) {
#>
			// <#= PropertyInfo_ForeignKey.Value #>
			var <#= PropertyInfo_ForeignKey.Value #> = new <#= PropertyInfo_ForeignKey.Key.PropertyType.Name #>TestDataFactory(UnitOfWork,GAppContext).CreateOrLouadFirst<#= PropertyInfo_ForeignKey.Key.PropertyType.Name #>();
            Valide_<#=entityType.Name#>.<#= PropertyInfo_ForeignKey.Value #> = <#= PropertyInfo_ForeignKey.Value #>;
			<# if(Generator.Properties.isContrain_Property(PropertyInfo_ForeignKey.Value + "Id" )) { #>
			 Valide_<#=entityType.Name#>.<#= PropertyInfo_ForeignKey.Value #>Id = <#= PropertyInfo_ForeignKey.Value #>.Id;
			<# } #>
           
<#
	}	
#>
            // One to Many
            //
<# 
        foreach (var ManyRelationsShipName in Generator.EntityFramework.ManyRelationshipNames)
        { 
#>
			Valide_<#=entityType.Name#>.<#= ManyRelationsShipName #> = null;
<#
        }	
#>
            return Valide_<#=entityType.Name#>;
        }

        /// <summary>
        /// 
        /// </summary> 
        /// <returns>Return null if InValide <#=entityType.Name#> can't exist</returns>
        public virtual <#=entityType.Name#> CreateInValide<#=entityType.Name#>Instance()
        {
            <#=entityType.Name#> <#=entityType.Name.ToLower()#> = this.CreateValide<#=entityType.Name#>Instance();
             
			// Required   
<# foreach (var item in Generator.Properties.getRequiredProperties())
  {
#> 
			<#=entityType.Name.ToLower()#>.<#= item.Name #> = <#= Generator.Code_Of_DefaultValue(item.PropertyType) #>;
<# 
 }  
#>
            //Unique
			var existant_<#=entityType.Name#> = this.CreateOrLouadFirst<#=entityType.Name#>();
<# foreach (var item in Generator.Properties.getUniqueProperties())
  {
#>
			<#=entityType.Name.ToLower()#>.<#= item.Name #> = existant_<#=entityType.Name#>.<#= item.Name #>;
<# 
 } 
#> 
            return <#=entityType.Name.ToLower()#>;
        }


		public virtual <#=entityType.Name#> CreateInValide<#=entityType.Name#>Instance_ForEdit()
        {
            <#=entityType.Name#> <#=entityType.Name.ToLower()#> = this.CreateOrLouadFirst<#=entityType.Name#>();
			// Required   
<# foreach (var item in Generator.Properties.getRequiredProperties())
  {
#> 
			<#=entityType.Name.ToLower()#>.<#= item.Name #> = <#= Generator.Code_Of_DefaultValue(item.PropertyType) #>;
<# 
 }  
#>
            //Unique
			var existant_<#=entityType.Name#> = this.CreateOrLouadFirst<#=entityType.Name#>();
<# foreach (var item in Generator.Properties.getUniqueProperties())
  {
#>
			<#=entityType.Name.ToLower()#>.<#= item.Name #> = existant_<#=entityType.Name#>.<#= item.Name #>;
<# 
 } 
#>
            return <#=entityType.Name.ToLower()#>;
        }

		public override void Generate_Excel_File(List<<#=entityType.Name#>> generated_Data)
        {
            // Create Paths 
            this.Create_TestData_Files_Directory_If_Not_Exist();
            string FileName = this.Get_Solution_Path() + "Data/<#=entityType.Name#>.xlsx";

            var DataTeble = (this.BLO as <#=entityType.Name#>BLO).Convert_to_DataTable(generated_Data);
            (this.BLO as <#=entityType.Name#>BLO).ExcelDAO.Save(DataTeble, FileName);
        }
    }

	public partial class <#=Code.ClassName#> : Base<#=Code.ClassName#>{
	
		public <#=Code.ClassName#>(UnitOfWork<TrainingISModel> UnitOfWork, GAppContext GAppContext) : base(UnitOfWork, GAppContext)
        {
        }
	
	}
}
<#
} // for
manager.Process();
#>