<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TrainingISModel"
    connectionString="Data source=(LocalDb)\MSSQLLocalDB;initial catalog=Cplus_Production;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <compilation xdt:Transform="Replace" debug="false" targetFramework="4.6.1" />
    <customErrors defaultRedirect="GenericError.htm"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Replace"  >
      <rules >
        <rule name="HTTP to HTTPS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  

</configuration>
