
table.details_model {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    width: 100%;
}

.details_model td {
    zoom: 1.4;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    width: 46%;
    padding: 3px 2% 4px;
    margin: 2px;
    display: inline-block;
    min-height: 30px;
}

.details_model tr td:first-child::after {
    content: ":";
    icon: url()
}

.details_model td {
    border: 2px solid #f9f9f9;
}
