/*  DataTable */
.link_action {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


/*  Select 2 */
.select2-selection {
    border-radius: 0;
}
.form-group .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

/*  data-toggle="tooltip" */

*[ data-toggle="tooltip"]{
    cursor : pointer;
}
.tooltip_Info{
    text-decoration:underline;
}

/* GAppCheckBox*/