@model IEnumerable<TrainingIS.Models.Absences.Entry_Absence_Model>
@{ Layout = null;}

<h2>Liste des stagiaires</h2>
@section scripts{
    @Scripts.Render("~/bundles/Manager/Index")
}

<script>
    // Must be executed after Ajax request 
    $(document).ready(function () {
        Realod_JS();
    });
</script>



<table class="table table-striped table-bordered GAppDataTable_NotPagination">
    <thead>
        <tr>
            <th class="hidden-xs">
                Photo
            </th>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th class="hidden-xs">
                <span class="fa fa-unlock-alt fa-2x" data-toggle="tooltip" data-placement="top" title="Authorisation"></span>
                
            </th>
            <th class="hidden-xs">
                <span class="fa fa-area-chart fa-2x" data-toggle="tooltip" data-placement="top" title="Nombre d'absences cet année"></span>
                
            </th>
            <th class="hidden-xs">
                <span class="fa fa-line-chart fa-2x" data-toggle="tooltip" data-placement="top" title="Nombre d'absence dans ce module"></span>
                
            </th>



            <th class="">
                <span class="fa fa-bell fa-2x" data-toggle="tooltip" data-placement="top" title="Absences invalide"></span>

            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
             
             
            <tr id="Trainee_@item.TraineeId" class="@item.Html_Classes" >
                @{Html.RenderPartial("Entry_Absences/_Entry_Absence_Line", item); }
            </tr>
        }
    </tbody>
</table>