@{
    ViewBag.Title = "Confirmation de l'e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        un e-mail de confirmation à été envoyer à votre boite e-mail. Merci de valide votre compte depuis votre compte e-mail.
    </p>
</div>
