@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="/images/img.jpg" alt="">
    @User.Identity.GetUserName()
   
    <span class=" fa fa-angle-down"></span>
</a>
<ul class="dropdown-menu dropdown-usermenu pull-right">

    <li>
        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li>
        <!-- Change language-->
        @{
        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
        }
        
           
            @if (culture == "fr")
        {
            <a href="/Home/SetCulture?culture=ar">العربية</a>
        }
        else
        {
            <a href="/Home/SetCulture?culture=fr">Français</a>
        }
       
        <!-- Change language -->
    </li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <i class="fa fa-sign-out pull-right"></i> Se déconnecter
        </a>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
        @Html.AntiForgeryToken()
        }
    </li>
</ul>

   
}
else
{
        @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}


