<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-users"></i> Stagiaires <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Trainees">Stagiaires</a></li>
                    <li><a href="/Groups">Groupes</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-book"></i> Formations <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/TrainingYears">Années de formations</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-university"></i> Etablissement <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Formers">Formateurs</a></li>
                    <li><a href="/Classrooms">Salles</a></li>
                    <li><a href="/ClassroomCategories">Catégories des salles</a></li>
                </ul>
            </li>
        </ul>

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <ul class="nav side-menu">
                <li>
                    <a><i class="fa fa-sliders"></i> Admin <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/UsersAdmin/index">Utilisateurs</a></li>
                        <li><a href="/RolesAdmin/index">Roles</a></li>
                    </ul>
                </li>
            </ul>
        }

    </div>
</div>
