@model TrainingIS.Entities.ModelsViews.Default_Form_Sanction_Model
@using TrainingIS.Entities
@using TrainingIS.Entities.enums
@using TrainingIS.WebApp.Helpers
@using TrainingIS.Entities.Base
@{
    Layout = null;
}

@using (Html.BeginForm(Html.BeginForm("Create", "Sanctions", FormMethod.Post, new { id = "Create_Entity_Form" })))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>@ViewBag.msg["Create_Title"]</h4>
    <hr />
 
    @Html.Partial("Sanction_Form", Model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@msg_app.Save" class="btn btn-default" />
        </div>
    </div>
</div>
}