<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Stagiaires <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Stagiaires</a></li>
                    <li><a href="#">Groupes</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Formations <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Formations</a></li>
                    <li><a href="/TrainingYears">Années de formations</a></li>
                    <li><a href="#">Modules</a></li>
                    <li><a href="#">Formateurs</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Etablissement <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Salles</a></li>
                    <li><a href="#">Filières</a></li>
                    <li><a href="#">Formateurs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
