.present_icon {
    background-image: url(images/Present.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.absent_icon {
    background-image: url(images/Absent.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}



.InValid_Absence{

}
.Valid_Absence{

}
tr.Justified_Absence {
    background-color: #EDEDED !important;
    color: #67A6A6;
}
tr.Sanctioned_Absence {
    background-color: #EDEDED !important;
    
}
tr.Absence_By_System {
    background-color: #EDEDED !important;
    color: #CC3300;
}